body{
	background-color:#F5F5F5;
	font-family: 'Dosis', sans-serif;

}

.model-container11{
	margin-top:0%;
	width:70%;
	
	float:right;
	margin-left:1%;
	overflow: hidden;
	
}
.border-top1{
	width:47%;
	float:right;
	
	margin-top:-2%;
}
.model-head1 p
 {
	font-size: 25px;
}
.model-head1{
	width:100%;
	
	
	padding-top:5%;
	padding-bottom:8%;
	margin-top: -2%;
}p{
	color:grey;
}
@media only screen and (min-width:1790px) and (max-width: 1644px){
	.nav-container{
	          width:23%;
    }

}